 <!--<mat-sidenav-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
    <mat-sidenav mode="side" opened class="p-6">
      <div>Filters</div>
    </mat-sidenav>
    <mat-sidenav-content class="p-6">
      <app-home></app-home>
    </mat-sidenav-content> 
 </mat-sidenav-container>  -->

 <mat-drawer-container
 [autosize]="true"
 class="min-h-full max-w-7xl mx-auto border-x"
>
 <mat-drawer mode="side" opened class="p-6">
   <app-filters (showCategory)="onShowCategory($event)"></app-filters>
 </mat-drawer>
 <mat-drawer-content class="p-6">
   <app-products-header
     (columnsCountChange)="onColumnsCountChange($event)"
     (itemsCountChange)="onItemsCountChange($event.target.value)"
     (sortChange)="onSortChange($event)"
   ></app-products-header>
   <mat-grid-list
     *ngIf="products && products.length"
     gutterSize="16"
     [cols]="cols"
     [rowHeight]="rowHeight"
   >
     <mat-grid-tile *ngFor="let product of products">
      <mat-grid-tile *ngFor="let product of products">
        <div
          (click)="onAddToCart(product)"
          app-product-box
          [product]="product"
          class="w-full"
        ></div>
      </mat-grid-tile>
       <div
         (addToCart)="onAddToCart($event)"
         app-product-box
         [product]="product"
         [fullWidthMode]="cols === 1"
         class="w-full"
       ></div>
     </mat-grid-tile>
   </mat-grid-list>
 </mat-drawer-content>
</mat-drawer-container>
  

   <!--<mat-sidenav-container class="min-h-full max-w-7xl mx-auto border-x">
    <mat-sidenav mode="side" opened class="p-6">
      <div>Filters</div>
    </mat-sidenav>
    <mat-sidenav-content class="p-6">
      <mat-toolbar class="max-w-7x1 mx-auto border-x justify-between">
        <a routerLink="home">Code with kostas</a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon [matBadge]="1" matBadgeColor="warn" aria-hidden="false">shopping_cart</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="p-3 divide-y divide-solid">
            <div class="pb-3 flex justify-between">
              <span class="mr-162">1 Items</span>
              <a routerLink="cart">View Cart</a>
            </div>
            <div class="py-3">
              <div class="flex justify-between font-light mb-2">Keyboard x 1</div>
            </div>
          </div>
        </mat-menu>
      </mat-toolbar>
      <app-home></app-home>
      <app-products-header></app-products-header>
    </mat-sidenav-content>
  </mat-sidenav-container>-->